body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    background-color: #7c7f80;
    color: white;
    border: none;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;


}

.button:hover {
    background-color: #50585c;
}